# Ignore build artifacts
build/
.cache/

# Ignore user-specific settings
*.user
*.user.*

# Qt Creator backup/metadata
*.autosave
*.pro.user

# CMake build folders
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE configs (optional)
.idea/
.vscode/
